// Kubernetes config
process.executor = 'k8s'
process.pod = [
    [env: 'AWS_S3_ENDPOINT', value: 'https://s3-west.nrp-nautilus.io'],
    [secret: 'prp-s3-credentials', mountPath: '/root/.aws/credentials'],
    [secret: 'prp-s3-credentials', mountPath: '/root/.s3cfg']
]

k8s.namespace = 'braingeneers'
k8s.computeResourceType = 'Job'
k8s.securityContext.privileged = false
k8s.securityContext.allowPrivilegeEscalation = false
k8s.containers.securityContext.privileged = false
k8s.pod.privileged = false
k8s.serviceAccount = 'nextflow-sa'

aws.client.endpoint = 'https://s3-west.nrp-nautilus.io'
aws.client.s3PathStyleAccess = true
